.todoRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
button {
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease;
}

button:hover {
  font-size: 25px;
  color: red;
}

.checkbox {
  width: 17px;
  height: 17px;
}

.itemName {
  width: 80%;
  border: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
  outline: none;
  transition: all 0.4s ease;
}

.itemName:hover {
  cursor: pointer;
  background-color: #888;
  color: white;
  padding: 5px;
}

*::-webkit-scrollbar {
  display: none;
}
