.addTask {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  position: relative;
  left: 40px;
  width: 511px;
  margin-top: 20px;
}
.addTask button {
  font-size: 20px;
  background-color: transparent;
  margin-left: 10px;
  padding: 15px;
  border: none;
  transition: all 0.5s ease;
}

.addTask .addBtn:hover {
  color: gold;
}

.addTask .deleteAllBtn:hover {
  color: red;
  font-size: 20px;
}

.inputHeader {
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 8px;
}

.redPlaceholder::placeholder {
  transition: all 0.5s ease;
  font-size: 18px;
  color: red;
}
